<div
  class="race-card shadow p-3 rounded-3"
  style="max-height: 400px; overflow-y: auto"
>
  <p class="fw-dark fs-5">Next Race: Mazda Cup</p>

  <!-- Event Details -->
  <div class="event-details mb-3 border-bottom border-light pb-3">
    <div class="d-flex justify-content-between align-items-center">
      <p class="title mb-0"><b>Track:</b> Laguna Seca</p>
      <span>
        <i class="bi bi-person-check"></i>
        <span class="text-body-secondary">2</span>
      </span>
    </div>
    <div class="mt-2">
      <p class="mb-0"><b>Start Time:</b> 4th January, 20:00 GMT</p>
    </div>
  </div>

  <!-- Schedule container -->
  <div class="schedule-entries" style="max-height: 250px; overflow-y: auto">
    <!-- Practice session -->
    <div class="schedule-entry mb-1 border-bottom border-light pb-1">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h6 class="mb-0">Practice</h6>
        <div class="d-flex-inline gap-1">
          <span class="badge text-bg-dark"
            ><i class="bi bi-clock" style="margin-right: 0.25rem"></i> 20:15
            GMT</span
          >
        </div>
      </div>
    </div>

    <!-- Qualification session -->
    <div class="schedule-entry mb-1 border-bottom border-light pb-1">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h6 class="mb-0">Qualification</h6>
        <div class="d-flex-inline gap-1">
          <span class="badge bg-secondary">Laps: 3</span>
          <span class="badge text-bg-dark"
            ><i class="bi bi-clock" style="margin-right: 0.25rem"></i> 20:45
            GMT</span
          >
        </div>
      </div>
    </div>

    <!-- Race session -->
    <div class="schedule-entry mb-1 border-bottom border-light pb-1">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h6 class="mb-0">Race 1</h6>
        <div class="d-flex-inline gap-1">
          <span class="badge bg-secondary">Laps: 5</span>
          <span class="badge text-bg-dark"
            ><i class="bi bi-clock" style="margin-right: 0.25rem"></i> 21:00
            GMT</span
          >
        </div>
      </div>
    </div>
    <!-- Race session -->
    <div class="schedule-entry mb-1 border-bottom border-light pb-1">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h6 class="mb-0">Race 2</h6>
        <div class="d-flex-inline gap-1">
          <span class="badge bg-secondary">Laps: 15</span>
          <span class="badge text-bg-dark"
            ><i class="bi bi-clock" style="margin-right: 0.25rem"></i> 21:35
            GMT</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
