<div id="ps-race-card" class="shadow p-3 rounded-3">
  <p class="fw-dark">Race Card</p>
  <div id="ps-race-card-track">
    <p class="title"><b>Track:</b> Laguna Seca</p>
    <div class="fw-light fs-6 d-flex justify-content-between">
      <span>FL: <time class="race-time">2.14.234</time></span>
      <span>Time: <time class="race-time">4:34:56</time></span>
    </div>
  </div>
  <div class="d-flex justify-content-between fw-light">
    <span> Pos: 10/12 </span>
    <span> Points: 10 </span>
  </div>
</div>
