<section id="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom-3">
    <div class="container">
      <!-- Brand/Title -->
      <a class="navbar-brand" href="/">Pointsheet Team</a>

      <!-- Hamburger menu for mobile -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto pe-3">
          <li class="nav-item">
            <a
              class="nav-link link-opacity-100-hovers link-offset-3"
              href="#schedule"
              >Schedule</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link link-opacity-100-hovers link-offset-3"
              href="#drivers"
              >Drivers</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link link-opacity-100-hovers link-offset-3"
              href="/events"
              >Events</a
            >
          </li>
        </ul>
        <a
          href="/logout"
          class="btn btn-secondary bg-tetiary"
          style="size: 14px"
          >Logout</a
        >
      </div>
    </div>
  </nav>
</section>
