@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

ps-btn-primary {
  background-color: #7171d2;
}

body {
  color: #373434;
}

.title {
  color: rgba(43, 41, 41, 0.94);
  height: 18px;
}

#ps-race-card {
  background-color: #b2c6cd;
  min-width: 280px;
}

.race-time {
  color: #5b5858;
}

.nav-tabs .nav-link {
  color: #373434;
}

.nav-tabs .nav-link.active {
  color: #2e2e49;
  font-weight: lighter;
}

.tab-content {
  padding-top: 20px;
}

.card {
  border-radius: 10px;
  transition: transform 0.2s;
}

.btn-primary {
  background-color: #7171d2;
  border: none;
}

.btn-primary:hover {
  background-color: #5959b8;
}

.badge {
  font-weight: 500;
  padding: 0.5em 1em;
}

.bi {
  font-size: 1rem;
}
